<div class="menu-bar__container">
  <div class="menu-bar__logo">
    <img
      src="/assets/ps-logo.png"
      alt="Playstation Logo"
      width="140px"
      height="32px">
  </div>
  <div class="menu-bar__item">
    <ul>
      <li><a href="https://instagram.com/viniciushajjar/" target="_blank">INSTAGRAM</a></li>
      <li><a href="https://linkedin.com/in/vinicius-hajjar-marques/" target="_blank">LINKEDIN</a></li>
      <li><a href="https://github.com/ViniciusHajjar" target="_blank">GITHUB</a></li>
    </ul>
  </div>
</div>
